version: 2
jobs:
  build:
    working_directory: ~/NG-TLT
    docker:
      - image: circleci/node:10.16.0
    steps:
      - checkout
      - run: npm install
      - run: npm run buildlib
  deploy:
    working_directory: ~/NG-TLT
    docker:
      - image: circleci/node:10.16.0
    steps:
      - run:
        name: Authenticate with registry
        command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      # - run:
      #   name: Directory
      #   command: cd dist/ng-tlt
      - run:
        name: Publish package
        command: npm publish
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
