name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    name: NG-TLT
    runs-on: ubuntu-latest

    steps:
      - name: Git Checkout
        uses: actions/checkout@v1
      - name: Setup NodeJS ENV
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
          registry-url: "https://registry.npmjs.org"
      - name: Install Package
        run: npm install
      - name: Build NG-TLT Library
        run: npm run buildlib
      - name: Publish to NPM.JS
        run: |
          cd dist/ng-tlt
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # - name:
      #   uses: actions/setup-node@v1
      #   with:
      #     registry-url: "https://npm.pkg.github.com"
